body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#form-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#game-form {
    margin: auto;
}

#error-box {
    margin: auto;
    text-align: center;
}

#prompt {
    text-align: center;
}