body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-form {
    margin: auto;
}

#error-box {
    margin-top: 15px;
    text-align: center;
    width: auto;
}

#prompt {
    text-align: center;
    font-weight: 15pt;
}