body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-form {
    margin: auto;
}

#error-box {
    margin-top: 15px;
    text-align: center;
    width: auto;
    font-size: 12pt;
}

#prompt {
    text-align: center;
    font-size: 15pt;
}

#game-board {
    position: relative; /* Because buttons are absolute */
    width: 100%;
    min-height: 600px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.game-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid black;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    z-index: 100;
    text-align: center;
    border-radius: 10px;
}